.remove-btn {
    margin-right : 1rem
} 

.fade-enter {
    opacity:0.01
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in
}

.fade-exit{
    opacity:1
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in
}

.active-nav{
    background: #57e76f;
}


/* Scroll bar  */

::-webkit-scrollbar{
    width:5px
}

::-webkit-scrollbar-track{
    background: rgb(109, 220, 240);
}

::-webkit-scrollbar-thumb{
    background: rgb(156, 255, 147);
}

::-webkit-scrollbar-thumb:hover{
        background: #000;
}