@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.row-container {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-container {
  width: 33%;
  padding: 0 5vw;
}

.icon-style {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

.icon-style a .grey-tool {
  margin: auto;
}

.grey-tool {
  color: rgb(76, 146, 187);
  cursor: pointer;
  transition: 0.4s ease;
  display: block;
}

.grey-tool:nth-child(3) {
  color: red;
}

.grey-tool:hover {
  color: rgb(0, 2, 2);
}

.grey-tool:nth-child(3):hover {
  color: rgb(102, 3, 3);
}

.tag:read-only {
  border: none;
  background: inherit;
}

.input-middle {
  text-align: center;
}

.tag[readOnly="false"] {
  background-color: #fff;
  outline: none;
  padding: 0;
  border: none;
}

.tag {
  outline: none;
  width: 33%;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.price-tag {
  font-style: italic;
}

@media (max-width: 400px) {
  .grey-tool {
    font-size: 4vw;
  }
  .list-group-item {
    padding: 2vw 3vw;
  }

  .tag {
    font-size: 4vw;
  }
  .icon-container {
    padding: 0 5px;
  }
}
