@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.flt-right {
  float: right;
}

.row-container {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-style {
  font-size: 1rem;
  justify-content: center;
}

span > i {
  margin-right: 2rem;
}

.grey-tool {
  color: rgb(76, 146, 187);
  cursor: pointer;
}

.grey-tool:hover {
  color: rgb(0, 2, 2);
}

.tag:read-only {
  border: none;
  background: inherit;
}

.tag[readOnly="false"] {
  background-color: #fff;
}

.tag {
  outline: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.price-tag {
  font-style: italic;
}

@media (max-width: 400px) {
  .flt-right {
    float: left;
  }
}
